@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    align-items: center;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header a{
    text-decoration: none;
}

.logo{
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: white;
}

.search{
    display: flex;
    margin-top: 15.9rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    width: 900px;
    flex-direction: column;
}

.navigation .btn{
    position: relative;
    font-size: 1.1em;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation .btn::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform .2s;
}

.navigation .btn3::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform-origin: center;
    transform: scaleX(1);
    transition: transform .2s;
}


.navigation .btn:hover::after{
    transform: scaleX(1);
}

.navigation .btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 60px;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    transition: .3s;
}

.navigation .btnLogin-popup:hover{
    background: rgb(255, 255, 255);
    color: #162938;
}

.row{
    display: flex;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 90px rgb(0 0 0 / 40%);
    background: rgb(255, 255, 255);
    height: 80px;
    border-radius: 60px;
    padding: 10px;
    backdrop-filter: blur(20px);
}

.search-btn{
    float: right;
    width: 60px;
    height: 60px;
    color: rgb(106, 50, 138);
    border-radius: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

::placeholder {
    color:rgb(148, 148, 148);
}

.search-txt{
    padding-left: 1.5rem;
    border: none;
    background: none;
    outline: none;
    float: left;
    color: black;
    font-size: 20px;
    transition: 0.4s;
    width: 93%;
}

body{
    display: flex;
    justify-items: center;
    align-items: center;
    background: linear-gradient(to right, #6a328a, #4736a7);
    background-size: cover;
    background-position: center;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.content{
    display: flex;
    min-height: calc(100vh - 0px);
    align-items: center;
}

.container{
    position: relative;
    max-width: 500px;
    background: #fff;
    border-radius: 60px;
    box-shadow: 0 0 90px rgb(0 0 0 / 40%);
    overflow: hidden;
    margin: 8rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.container .forms{
    display: flex;
    align-items: center;
    height: 422px;
    width: 200%;
    transition: height 0.2s ease;
}


.container .form{
    display: flex;
    width: 50%;
    padding: 26px;
    background-color: #fff;
    transition: margin-left 0.18s ease;
    flex-wrap: wrap;
    flex-direction: column;
}

.container.active .login{
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.container .signup{
    opacity: 0;
    transition: opacity 0.09s ease;
}
.container.active .signup{
    opacity: 1;
    transition: opacity 0.2s ease;
}

.container.active .forms{
    height: 569px;
}
.container .form .title{
    position: relative;
    text-align: center;
    font-size: 27px;
    font-weight: 600;
    justify-content: center
}

.form .input-field{
    position: relative;
    height: 53px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.input-field input{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 53px;
    border: none;
    border-radius: 60px;
    outline: none;
    font-size: 15px;
    transition: all 0.2s ease;
    box-shadow: 0 0 40px rgb(0 0 0 / 15%);
}

.input-field input:hover{
    background-color:#dddddd;
    box-shadow: 0 0 50px rgb(0 0 0 / 15%);
}

.input-field input:is(:focus, :valid){
    background-color: #dddddd;
}


.input-field i{
    position: absolute;
    padding-left: 3.5%;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ i{
    color:rgb(106, 50, 138);
}

.input-field i.icon{
    left: 0;
}

.input-field i.showHidePw1{
    right: 0;
    cursor: pointer;
    padding-right: 15px;
}

.input-field i.showHidePw2{
    right: 0;
    cursor: pointer;
    padding-right: 15px;
}


.form .checkbox-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}

.checkbox-content input{
    margin-right: 10px;
    accent-color: #4070f4;
}

.form .text{
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #333;
    font-size: 14px;
    justify-content: space-around;
    align-items: center;
}

.form a.text{
    color:rgb(106, 50, 138);
    text-decoration: none;
}
.form a:hover{
    text-decoration: underline;
}

.form .button{
    margin-top: 20px;
}

.form .button input{
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 100px;
    background-color:rgb(106, 50, 138);
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input:hover{
    background-color: rgb(79, 38, 102) ;
}

.form .login-signup{
    text-align: center;

}

.footer {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .social-icon__item,
  .menu__item {
    list-style: none;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.2s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }
  
  .menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }
  
  .menu__link:hover {
    opacity: 1;
  }
  
  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }
  
  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
  }

@media(max-width: 1024px){
    .container{
        width: 500px;
}
}

@media(max-width: 835px){
    .container{
        width: 500px;
    }
}

@media(max-width: 630px){
    .container{
        width: 335px;
    }
}

@media(max-width: 425px){
    .container{
        width: 300px;
    }
}

@media(max-width: 375px){
    .container{
        width: 250px;
    }
}

@media(max-width: 320px){
    .container{
        width: 250px;
    }
}